.frame {
  position: relative;
  width: 1380px;
  height: 80px;
  background-color: var(--white);
  box-shadow: 0px 1px 0px #e2e8f0;
}

.frame .group {
  position: absolute;
  width: 302px;
  height: 46px;
  top: 17px;
  left: 1048px;
}

.frame .div {
  position: absolute;
  width: 182px;
  height: 46px;
  top: 0;
  left: 120px;
}

.frame .group-2 {
  position: absolute;
  width: 76px;
  height: 46px;
  top: 0;
  left: 106px;
}

.frame .group-3 {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 0;
  left: 0;
  background-image: url(../img/ellipse-2824.png);
  background-size: cover;
  background-position: 50% 50%;
}

.frame .chevron-down {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 13px;
  left: 56px;
}

.frame .group-4 {
  position: absolute;
  width: 95px;
  height: 35px;
  top: 6px;
  left: 0;
}

.frame .thomas-anree {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: var(--tailgrids-black-color);
  font-size: 14px;
  text-align: right;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.frame .text-wrapper {
  position: absolute;
  top: 21px;
  left: 57px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: var(--tailgrids-text-color);
  font-size: 12px;
  text-align: right;
  letter-spacing: 0;
  line-height: 14px;
  white-space: nowrap;
}

.frame .group-5 {
  position: absolute;
  width: 83px;
  height: 34px;
  top: 6px;
  left: 0;
}

.frame .overlap-group-wrapper {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 0;
  left: 49px;
  background-color: var(--gray);
  border-radius: 17px;
  border: 0.5px solid;
  border-color: var(--stroke);
}

.frame .overlap-group {
  position: relative;
  width: 25px;
  height: 27px;
  left: 8px;
}

.frame .chat-alt {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 9px;
  left: 0;
}

.frame .ellipse {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  left: 15px;
  background-color: #dc3545;
  border-radius: 5px;
  border: 2px solid;
  border-color: #ffffff;
}

.frame .alarm-wrapper {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 0;
  left: 0;
  background-color: var(--gray);
  border-radius: 17px;
  border: 0.5px solid;
  border-color: var(--stroke);
}

.frame .alarm {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 8px;
  left: 8px;
}

.frame .toggle {
  position: absolute;
  width: 56px;
  height: 30px;
  top: 25px;
  left: 964px;
}

.frame .bachkhoa {
  position: absolute;
  width: 75px;
  height: 53px;
  top: 19px;
  left: 57px;
  object-fit: cover;
}

.frame .overlap {
  position: absolute;
  width: 277px;
  height: 37px;
  top: 25px;
  left: 134px;
}

.frame .group-6 {
  position: absolute;
  width: 221px;
  height: 20px;
  top: 17px;
  left: 0;
}

.frame .type-to-search {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: var(--tailgrids-text-color);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.frame .group-7 {
  position: absolute;
  width: 277px;
  height: 20px;
  top: 0;
  left: 0;
}

.frame .p {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: var(--tailgrids-text-color);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}
